/*===================================================*
 * Admin Sidebar
 *===================================================*/
#adminmenuback {
	position: absolute;
	height: auto;
	min-height: 100%;
	width: 260px;
	background-color: $grey;
	border-right: 1px solid $darkGrey;
}

#adminmenuwrap {
	position: relative;
	float: left;
	width: 260px;
	padding-top: 90px;
	color: $black;
	background-color: $grey;
	@include box-sizing(border-box);
	a {
		color: $black;
	}
}

/*==================*
 * Admin (Sidebar) Menu
 *
 * Notes:
 * 	- Do not relatively position any element parent to the submenus. This is how we get the titles in the top left.
 *==================*/
#adminmenu {
	width: 160px;
	margin: 0 auto;
	> li {
		a {
			position: relative;
			@include transition(all 250ms ease);
			&.wp-has-submenu .wp-menu-arrow {
				@extend .icon-caret;
				position: absolute;
				right: 5px;
				font-size: 0.6em;
				color: $orange;
				@include transition(transform 250ms ease);
				@include transform(rotateZ(-90deg));
			}
			&.wp-menu-open .wp-menu-arrow {
				@include transform(rotateZ(0deg));
			}
			.wp-menu-image {
				position: absolute;
				left: 5px;
			}

			.wp-menu-name {
				padding-left: 30px;
			}
		}

		a:hover {
			background-color: darken( $grey, 5% );
		}

		a[class*="menu-top"] {
			display: block;
			height: 50px;
			padding: 0px 10px;
			line-height: 50px;
			border-top: 1px solid $darkGrey;
			&.wp-has-submenu.wp-menu-open {
				border-bottom: 1px solid $darkGrey;
			}
			div {
				display: inline-block;
				line-height: 50px !important;
				float: left;
				*zoom: 1;
				&.wp-menu-image {
					font-size: 20px;
					padding-right: 10px;
				}
			}
		}

		// Submenu Styles
		.wp-submenu {
			overflow: hidden;
			li {

				a {
					display: block;
					padding: 5px 0px 5px 30px;
					font-size: 0.9em;
				}

				&.wp-submenu-head {
					display: none !important;
				}
			}
		}

		// Styles for the active/unactive submenus
		&.wp-has-current-submenu {
			.wp-submenu-head {
				display: block;
			}
		}

		&.wp-not-current-submenu {
			.wp-submenu {
				display: none;
			}
			.wp-menu-image {
				color: lighten( $black, 40%);
			}
		}
	}
	#menu-dashboard {
		.wp-menu-image {
			@extend .icon-home;
		}
	}
	#menu-posts {
		.wp-menu-image {
			@extend .icon-pencil;
		}
	}
	#menu-media {
		.wp-menu-image {
			@extend .icon-image;
		}
	}
	#menu-pages {
		.wp-menu-image {
			@extend .icon-page;
		}
	}
	#menu-plugins {
		.wp-menu-image {
			@extend .icon-plug;
		}
	}
	#menu-users {
		.wp-menu-image {
			@extend .icon-users;
		}
	}
	#menu-tools {
		.wp-menu-image {
			@extend .icon-wrench;
		}
	}
	#menu-settings {
		.wp-menu-image {
			@extend .icon-settings;
		}
	}
	#menu-appearance {
		.wp-menu-image {
			@extend .icon-brush;
		}
	}
	#menu-comments {
		.wp-menu-image {
			@extend .icon-message;
		}
	}
}

// Remove collapse menu options
#collapse-menu {
	display: none;
}

// Remove plugin count
span[class*="-count"] {
	display: none;
}

// Submenu headers (not linked)
#jsg-page-title {
	position: absolute;
	top: 0px;
	left: 0px;
	h2 {
		position: relative;
		margin: 0;
		height: 90px;
		width: 260px;
		font-weight: 300;
		text-align: center;
		text-transform: capitalize;
		line-height: 90px;
		&:after {
			content: " ";
			position: absolute;
			display: block;
			width: 25px;
			height: 25px;
			right: -13px;
			top: 32px;
			border: 1px solid $darkGrey;
			border-right: none;
			border-bottom: none;
			background-color: $white;
			@include transform(rotate(-45deg));
		}
	}
}