/*===================================================*
 * Admin Main
 *===================================================*/

html.wp-toolbar {
	padding-top: 62px;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0
}

#wpwrap {
	height: auto;
	min-height: 100%;
	width: 100%;
	position: relative;
	background-color: $white;
}

#wpcontent {
	margin-left: 261px;
}

#wpbody {
	position: relative;
	height: auto;
	min-height: 100%;
	padding: 30px;
	top: -100px;
	opacity: 0;
	@include box-sizing(border-box);
	@include transition(all 250ms ease);
	&.show {
		top: 0px;
		opacity: 1;
	}
}