/*===================================================*
 * Admin Bar
 *===================================================*/
html {
	padding-top: 62px;
}

body {
	color: $black;
}

a {
	text-decoration: none;
}

#wpadminbar {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9999;
	display: block;
	height: 62px;
	width: 100%;
	background-color: $orange;
	border-bottom: 8px solid $darkOrange;
	@include box-sizing(border-box);
	// Animates all icons in the admin bar.
	[class*="icon"] {
		@include transition(all 250ms);
	}
	// H1 applies to the logo text reading JumpshotGenie®
	h1 {
		font-weight: 300;
		@include adjust-font-size-to(28px);
		line-height: 100%;
		margin: 0px;
		strong {
			font-size: inherit;
			font-weight: 700;
		}
	}
}

[id*="wp-admin-bar-"] {
	position: relative;
}

// Removes the screen reader accessibility shortcut from view.
.screen-reader-shortcut {
	position: absolute;
	left: -9999px;
}

// Admin bar menu items
ul#wp-admin-bar-root-default > li[id*="wp-admin-bar"] {
	position: relative;
	height: 54px;
	border-left: 2px solid darken( $orange, 10% );
	float: right;

	// Admin bar items with submenus have class .menupop
	&.menupop {
		position: relative;
		& > .ab-item {
			position: relative;
			padding-right: 48px;
			height: 62px !important;
			z-index: 98;
			@include transition(none);
			// Before and after psuedo elements used to create downwards caret
			&:after {
				content: " ";
				position: absolute;
				top: 50%;
				right: 24px;
				margin-top: -5px;
				display: block;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-color: transparent;
				border-width: 6px;
				border-top-color: $white;
				border-bottom-width: 0px;
				z-index: 99;
			}
			&:before {
				content: " ";
				position: absolute;
				top: 50%;
				right: 24px;
				margin-top: -8px;
				display: block;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-color: transparent;
				border-width: 6px;
				border-top-color: $orange;
				border-bottom-width: 0px;
				z-index: 100;
			}
		}

		//Admin toolbar submenus
		.ab-sub-wrapper {
			position: absolute;
			display: block;
			top: 62px;
			width: 100%;
			z-index: 0;
			.ab-submenu {
				padding: 20px;
				background-color: #fff;
				@include transition(all 350ms ease);
			}
			ul {
				margin-top: -60%;
			}
		}

		// Class .hover added on hover.
		&.hover {
			.ab-sub-wrapper ul {
				margin-top: 0%;
			}
		}
	}

	// All submenu items
	> .ab-item {
		position: relative;
		padding: 12px 24px;
		display: inline-block;
		height: 62px;
		color: $white;
		background-color: $orange;
		border-bottom: 8px solid $darkOrange;
		@include text-shadow(none);
		-webkit-font-smoothing: antialiased;
		@include box-sizing(border-box);
		&:hover {
			cursor: pointer;
			background-color: darken( $orange, 5% );
		}
		a {
			color: $white;
		}
	}
	> .ab-item[aria-haspopup="true"] {
		&:hover {
			// Adds dark orange bottom to drop downs.
			&:hover {
				border-bottom: 8px solid $darkOrange;
			}
		}
	}
}

// Logo positioning
#wp-admin-bar-jsg-logo {
	float: left !important;
	border: none !important;
}

/*==================*
 * User Menu
 *==================*/
#wp-admin-bar-user-menu {

	// User image/info in sub menu
	> .ab-item a {
		> .user-image {
			float: left;
			img {
				width: 30px;
				height: 30px;
				@include border-radius(100%);
			}
		}

		> .user-greeting {
			display: block;
			padding-left: 42px;
			white-space: nowrap;
			line-height: 30px;
		}
	}
}

#wp-admin-bar-user-menu-default {
	padding-left: 120px !important;
	.user-role {
		color: $darkGrey;
		font-style: italic;
	}
}

#wp-admin-bar-user-avatar {
	height: 54px;
	.user-image {
		position: absolute;
		left: -86px;
		img {
			@include border-radius(100%);
		}
	}
}

.ab-sub-wrapper {
	background-color: #fff;
	@include box-shadow(0px 2px 4px rgba( 0, 0, 0, 0.2) );
}


/*==================*
 * Sub Menu
 *==================*/
#wp-admin-bar-user-edit-profile, #wp-admin-bar-user-support {
	a {
		display: block;
		margin-bottom: 5px;
		color: $black;
		@include text-shadow(none);
		&:hover [class*="icon-"], &:active [icon*="icon-"] {
			color: $orange;
		}
	}

	[class*="icon-"] {
		position: relative;
		bottom: -5px;
		margin-right: 10px;
		color: $darkGrey;
		@include text-shadow(none);
	}
}

/*==================*
 * Icons
 *==================*/
li[id*="wp-admin-bar"] [class*="icon-"] {
	display: inline-block;
	font-size: 24px;
	line-height: 29px;;
	@include text-shadow( 1px 1px 0px $darkOrange );
}