/*===================================================*
 * Colors
 *===================================================*/
$orange: #f15a24;
$darkOrange: #9e3921;
$blue: #08a7e0;
$mediumBlue: #1b75bb;
$darkBlue: #14426f;
$grey: #f1f1f2;
$darkGrey: #b3b3b3;
$white: #fff;
$black: #333333;