/*===================================================*
 * Typography
 *===================================================*/
@import "compass/typography";

/*==================*
 * Font Families
 *==================*/

// Source Sans Pro
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic);

/*==================*
 * Font  Vertical Rhythm
 *==================*/
$base-font-size: 16px;
$base-line-height: 24px;

@include establish-baseline;

html {
	font-size: 16px;
}

body {
	font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
}

h1 {
	margin: 0 auto rhythm(3, 24px);
	@include adjust-font-size-to(28px);
}

h2 {
	margin: 0 auto rhythm(2, 24px);
	@include adjust-font-size-to(21px);
}

h3 {
	margin: 0 auto rhythm(1.5, 24px);
	@include adjust-font-size-to(16px);
}

h4 {
	margin: 0 auto rythm(1.5, 24px);
	@include adjust-font-size-to(14px, 2/3);
}

h5 {
	margin: 0 auto rythm(1.5, 24px);
	@include adjust-font-size-to(16px);
}

p {
	margin: 0 auto rhythm(1.5, 24px);
	@include adjust-font-size-to(16px);
}

strong {
	font-size: inherit;
	font-weight: 700;
}

/*==================*
 * Icons
 *==================*/
@font-face {
	font-family: 'JSG-Admin';
	src:url('../fonts/JSG-Admin.eot');
	src:url('../fonts/JSG-Admin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/JSG-Admin.woff') format('woff'),
		url('../fonts/JSG-Admin.ttf') format('truetype'),
		url('../fonts/JSG-Admin.svg#JSG-Admin') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'JSG-Admin' !important;
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-alert, .icon-id, .icon-caret, .icon-users, .icon-shop, .icon-settings, .icon-rss, .icon-player, .icon-planet, .icon-mail, .icon-logout, .icon-image, .icon-help, .icon-graph, .icon-gear, .icon-calendar, .icon-wrench, .icon-plug, .icon-pencil, .icon-page, .icon-home, .icon-message, .icon-brush {
	font-family: 'JSG-Admin';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-alert:before {
	content: "\e000";
}
.icon-id:before {
	content: "\e001";
}
.icon-caret:before {
	content: "\e002";
}
.icon-users:before {
	content: "\e003";
}
.icon-shop:before {
	content: "\e004";
}
.icon-settings:before {
	content: "\e005";
}
.icon-rss:before {
	content: "\e006";
}
.icon-player:before {
	content: "\e007";
}
.icon-planet:before {
	content: "\e008";
}
.icon-mail:before {
	content: "\e009";
}
.icon-logout:before {
	content: "\e00a";
}
.icon-image:before {
	content: "\e00b";
}
.icon-help:before {
	content: "\e00c";
}
.icon-graph:before {
	content: "\e00d";
}
.icon-gear:before {
	content: "\e00e";
}
.icon-calendar:before {
	content: "\e00f";
}
.icon-wrench:before {
	content: "\e013";
}
.icon-plug:before {
	content: "\e012";
}
.icon-pencil:before {
	content: "\e010";
}
.icon-page:before {
	content: "\e011";
}
.icon-home:before {
	content: "\e014";
}
.icon-message:before {
	content: "\e015";
}
.icon-brush:before {
	content: "\e016";
}
