@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic);
/*===================================================*
 * JumpshotGenie® Admin Interface Styles
 *===================================================*/
/*==================*
 * Imports
 *==================*/
/* line 17, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*===================================================*
 * Colors
 *===================================================*/
/*===================================================*
 * Typography
 *===================================================*/
/*==================*
 * Font Families
 *==================*/
/*==================*
 * Font  Vertical Rhythm
 *==================*/
/* line 61, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 21, ../scss/_typography.scss */
html {
  font-size: 16px;
}

/* line 25, ../scss/_typography.scss */
body {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

/* line 31, ../scss/_typography.scss */
h1 {
  margin: 0 auto 3em;
  font-size: 1.75em;
  line-height: 1.71429em;
}

/* line 36, ../scss/_typography.scss */
h2 {
  margin: 0 auto 2em;
  font-size: 1.3125em;
  line-height: 2.28571em;
}

/* line 41, ../scss/_typography.scss */
h3 {
  margin: 0 auto 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 46, ../scss/_typography.scss */
h4 {
  margin: 0 auto rythm(1.5, 24px);
  font-size: 0.875em;
  line-height: 1.14286em;
}

/* line 51, ../scss/_typography.scss */
h5 {
  margin: 0 auto rythm(1.5, 24px);
  font-size: 1em;
  line-height: 1.5em;
}

/* line 56, ../scss/_typography.scss */
p {
  margin: 0 auto 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 61, ../scss/_typography.scss */
strong {
  font-size: inherit;
  font-weight: 700;
}

/*==================*
 * Icons
 *==================*/
@font-face {
  font-family: 'JSG-Admin';
  src: url("../fonts/JSG-Admin.eot");
  src: url("../fonts/JSG-Admin.eot?#iefix") format("embedded-opentype"), url("../fonts/JSG-Admin.woff") format("woff"), url("../fonts/JSG-Admin.ttf") format("truetype"), url("../fonts/JSG-Admin.svg#JSG-Admin") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 81, ../scss/_typography.scss */
[data-icon]:before {
  font-family: 'JSG-Admin' !important;
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
/* line 98, ../scss/_typography.scss */
.icon-alert, .icon-id, .icon-caret, #adminmenu > li a.wp-has-submenu .wp-menu-arrow, .icon-users, #adminmenu #menu-users .wp-menu-image, .icon-shop, .icon-settings, #adminmenu #menu-settings .wp-menu-image, .icon-rss, .icon-player, .icon-planet, .icon-mail, .icon-logout, .icon-image, #adminmenu #menu-media .wp-menu-image, .icon-help, .icon-graph, .icon-gear, .icon-calendar, .icon-wrench, #adminmenu #menu-tools .wp-menu-image, .icon-plug, #adminmenu #menu-plugins .wp-menu-image, .icon-pencil, #adminmenu #menu-posts .wp-menu-image, .icon-page, #adminmenu #menu-pages .wp-menu-image, .icon-home, #adminmenu #menu-dashboard .wp-menu-image, .icon-message, #adminmenu #menu-comments .wp-menu-image, .icon-brush, #adminmenu #menu-appearance .wp-menu-image {
  font-family: 'JSG-Admin';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 108, ../scss/_typography.scss */
.icon-alert:before {
  content: "\e000";
}

/* line 111, ../scss/_typography.scss */
.icon-id:before {
  content: "\e001";
}

/* line 114, ../scss/_typography.scss */
.icon-caret:before, #adminmenu > li a.wp-has-submenu .wp-menu-arrow:before {
  content: "\e002";
}

/* line 117, ../scss/_typography.scss */
.icon-users:before, #adminmenu #menu-users .wp-menu-image:before {
  content: "\e003";
}

/* line 120, ../scss/_typography.scss */
.icon-shop:before {
  content: "\e004";
}

/* line 123, ../scss/_typography.scss */
.icon-settings:before, #adminmenu #menu-settings .wp-menu-image:before {
  content: "\e005";
}

/* line 126, ../scss/_typography.scss */
.icon-rss:before {
  content: "\e006";
}

/* line 129, ../scss/_typography.scss */
.icon-player:before {
  content: "\e007";
}

/* line 132, ../scss/_typography.scss */
.icon-planet:before {
  content: "\e008";
}

/* line 135, ../scss/_typography.scss */
.icon-mail:before {
  content: "\e009";
}

/* line 138, ../scss/_typography.scss */
.icon-logout:before {
  content: "\e00a";
}

/* line 141, ../scss/_typography.scss */
.icon-image:before, #adminmenu #menu-media .wp-menu-image:before {
  content: "\e00b";
}

/* line 144, ../scss/_typography.scss */
.icon-help:before {
  content: "\e00c";
}

/* line 147, ../scss/_typography.scss */
.icon-graph:before {
  content: "\e00d";
}

/* line 150, ../scss/_typography.scss */
.icon-gear:before {
  content: "\e00e";
}

/* line 153, ../scss/_typography.scss */
.icon-calendar:before {
  content: "\e00f";
}

/* line 156, ../scss/_typography.scss */
.icon-wrench:before, #adminmenu #menu-tools .wp-menu-image:before {
  content: "\e013";
}

/* line 159, ../scss/_typography.scss */
.icon-plug:before, #adminmenu #menu-plugins .wp-menu-image:before {
  content: "\e012";
}

/* line 162, ../scss/_typography.scss */
.icon-pencil:before, #adminmenu #menu-posts .wp-menu-image:before {
  content: "\e010";
}

/* line 165, ../scss/_typography.scss */
.icon-page:before, #adminmenu #menu-pages .wp-menu-image:before {
  content: "\e011";
}

/* line 168, ../scss/_typography.scss */
.icon-home:before, #adminmenu #menu-dashboard .wp-menu-image:before {
  content: "\e014";
}

/* line 171, ../scss/_typography.scss */
.icon-message:before, #adminmenu #menu-comments .wp-menu-image:before {
  content: "\e015";
}

/* line 174, ../scss/_typography.scss */
.icon-brush:before, #adminmenu #menu-appearance .wp-menu-image:before {
  content: "\e016";
}

/*===================================================*
 * Admin Bar
 *===================================================*/
/* line 4, ../scss/_admin-bar.scss */
html {
  padding-top: 62px;
}

/* line 8, ../scss/_admin-bar.scss */
body {
  color: #333333;
}

/* line 12, ../scss/_admin-bar.scss */
a {
  text-decoration: none;
}

/* line 16, ../scss/_admin-bar.scss */
#wpadminbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  display: block;
  height: 62px;
  width: 100%;
  background-color: #f15a24;
  border-bottom: 8px solid #9e3921;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 28, ../scss/_admin-bar.scss */
#wpadminbar [class*="icon"] {
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}
/* line 32, ../scss/_admin-bar.scss */
#wpadminbar h1 {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 1.71429em;
  line-height: 100%;
  margin: 0px;
}
/* line 37, ../scss/_admin-bar.scss */
#wpadminbar h1 strong {
  font-size: inherit;
  font-weight: 700;
}

/* line 44, ../scss/_admin-bar.scss */
[id*="wp-admin-bar-"] {
  position: relative;
}

/* line 49, ../scss/_admin-bar.scss */
.screen-reader-shortcut {
  position: absolute;
  left: -9999px;
}

/* line 55, ../scss/_admin-bar.scss */
ul#wp-admin-bar-root-default > li[id*="wp-admin-bar"] {
  position: relative;
  height: 54px;
  border-left: 2px solid #d4420e;
  float: right;
}
/* line 62, ../scss/_admin-bar.scss */
ul#wp-admin-bar-root-default > li[id*="wp-admin-bar"].menupop {
  position: relative;
}
/* line 64, ../scss/_admin-bar.scss */
ul#wp-admin-bar-root-default > li[id*="wp-admin-bar"].menupop > .ab-item {
  position: relative;
  padding-right: 48px;
  height: 62px !important;
  z-index: 98;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 71, ../scss/_admin-bar.scss */
ul#wp-admin-bar-root-default > li[id*="wp-admin-bar"].menupop > .ab-item:after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -5px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: transparent;
  border-width: 6px;
  border-top-color: white;
  border-bottom-width: 0px;
  z-index: 99;
}
/* line 87, ../scss/_admin-bar.scss */
ul#wp-admin-bar-root-default > li[id*="wp-admin-bar"].menupop > .ab-item:before {
  content: " ";
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -8px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: transparent;
  border-width: 6px;
  border-top-color: #f15a24;
  border-bottom-width: 0px;
  z-index: 100;
}
/* line 106, ../scss/_admin-bar.scss */
ul#wp-admin-bar-root-default > li[id*="wp-admin-bar"].menupop .ab-sub-wrapper {
  position: absolute;
  display: block;
  top: 62px;
  width: 100%;
  z-index: 0;
}
/* line 112, ../scss/_admin-bar.scss */
ul#wp-admin-bar-root-default > li[id*="wp-admin-bar"].menupop .ab-sub-wrapper .ab-submenu {
  padding: 20px;
  background-color: #fff;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease;
}
/* line 117, ../scss/_admin-bar.scss */
ul#wp-admin-bar-root-default > li[id*="wp-admin-bar"].menupop .ab-sub-wrapper ul {
  margin-top: -60%;
}
/* line 124, ../scss/_admin-bar.scss */
ul#wp-admin-bar-root-default > li[id*="wp-admin-bar"].menupop.hover .ab-sub-wrapper ul {
  margin-top: 0%;
}
/* line 131, ../scss/_admin-bar.scss */
ul#wp-admin-bar-root-default > li[id*="wp-admin-bar"] > .ab-item {
  position: relative;
  padding: 12px 24px;
  display: inline-block;
  height: 62px;
  color: white;
  background-color: #f15a24;
  border-bottom: 8px solid #9e3921;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 142, ../scss/_admin-bar.scss */
ul#wp-admin-bar-root-default > li[id*="wp-admin-bar"] > .ab-item:hover {
  cursor: pointer;
  background-color: #ec490f;
}
/* line 146, ../scss/_admin-bar.scss */
ul#wp-admin-bar-root-default > li[id*="wp-admin-bar"] > .ab-item a {
  color: white;
}
/* line 153, ../scss/_admin-bar.scss */
ul#wp-admin-bar-root-default > li[id*="wp-admin-bar"] > .ab-item[aria-haspopup="true"]:hover:hover {
  border-bottom: 8px solid #9e3921;
}

/* line 161, ../scss/_admin-bar.scss */
#wp-admin-bar-jsg-logo {
  float: left !important;
  border: none !important;
}

/*==================*
 * User Menu
 *==================*/
/* line 173, ../scss/_admin-bar.scss */
#wp-admin-bar-user-menu > .ab-item a > .user-image {
  float: left;
}
/* line 175, ../scss/_admin-bar.scss */
#wp-admin-bar-user-menu > .ab-item a > .user-image img {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 182, ../scss/_admin-bar.scss */
#wp-admin-bar-user-menu > .ab-item a > .user-greeting {
  display: block;
  padding-left: 42px;
  white-space: nowrap;
  line-height: 30px;
}

/* line 191, ../scss/_admin-bar.scss */
#wp-admin-bar-user-menu-default {
  padding-left: 120px !important;
}
/* line 193, ../scss/_admin-bar.scss */
#wp-admin-bar-user-menu-default .user-role {
  color: #b3b3b3;
  font-style: italic;
}

/* line 199, ../scss/_admin-bar.scss */
#wp-admin-bar-user-avatar {
  height: 54px;
}
/* line 201, ../scss/_admin-bar.scss */
#wp-admin-bar-user-avatar .user-image {
  position: absolute;
  left: -86px;
}
/* line 204, ../scss/_admin-bar.scss */
#wp-admin-bar-user-avatar .user-image img {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}

/* line 210, ../scss/_admin-bar.scss */
.ab-sub-wrapper {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/*==================*
 * Sub Menu
 *==================*/
/* line 220, ../scss/_admin-bar.scss */
#wp-admin-bar-user-edit-profile a, #wp-admin-bar-user-support a {
  display: block;
  margin-bottom: 5px;
  color: #333333;
  text-shadow: none;
}
/* line 225, ../scss/_admin-bar.scss */
#wp-admin-bar-user-edit-profile a:hover [class*="icon-"], #wp-admin-bar-user-edit-profile a:active [icon*="icon-"], #wp-admin-bar-user-support a:hover [class*="icon-"], #wp-admin-bar-user-support a:active [icon*="icon-"] {
  color: #f15a24;
}
/* line 230, ../scss/_admin-bar.scss */
#wp-admin-bar-user-edit-profile [class*="icon-"], #wp-admin-bar-user-support [class*="icon-"] {
  position: relative;
  bottom: -5px;
  margin-right: 10px;
  color: #b3b3b3;
  text-shadow: none;
}

/*==================*
 * Icons
 *==================*/
/* line 242, ../scss/_admin-bar.scss */
li[id*="wp-admin-bar"] [class*="icon-"] {
  display: inline-block;
  font-size: 24px;
  line-height: 29px;
  text-shadow: 1px 1px 0px #9e3921;
}

/*===================================================*
 * Admin Main
 *===================================================*/
/* line 5, ../scss/_admin-main.scss */
html.wp-toolbar {
  padding-top: 62px;
}

/* line 9, ../scss/_admin-main.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 15, ../scss/_admin-main.scss */
#wpwrap {
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
}

/* line 23, ../scss/_admin-main.scss */
#wpcontent {
  margin-left: 261px;
}

/* line 27, ../scss/_admin-main.scss */
#wpbody {
  position: relative;
  height: auto;
  min-height: 100%;
  padding: 30px;
  top: -100px;
  opacity: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
/* line 36, ../scss/_admin-main.scss */
#wpbody.show {
  top: 0px;
  opacity: 1;
}

/*===================================================*
 * Admin Sidebar
 *===================================================*/
/* line 4, ../scss/_admin-sidebar.scss */
#adminmenuback {
  position: absolute;
  height: auto;
  min-height: 100%;
  width: 260px;
  background-color: #f1f1f2;
  border-right: 1px solid #b3b3b3;
}

/* line 13, ../scss/_admin-sidebar.scss */
#adminmenuwrap {
  position: relative;
  float: left;
  width: 260px;
  padding-top: 90px;
  color: #333333;
  background-color: #f1f1f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 21, ../scss/_admin-sidebar.scss */
#adminmenuwrap a {
  color: #333333;
}

/*==================*
 * Admin (Sidebar) Menu
 *
 * Notes:
 * 	- Do not relatively position any element parent to the submenus. This is how we get the titles in the top left.
 *==================*/
/* line 32, ../scss/_admin-sidebar.scss */
#adminmenu {
  width: 160px;
  margin: 0 auto;
}
/* line 36, ../scss/_admin-sidebar.scss */
#adminmenu > li a {
  position: relative;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}
/* line 39, ../scss/_admin-sidebar.scss */
#adminmenu > li a.wp-has-submenu .wp-menu-arrow {
  position: absolute;
  right: 5px;
  font-size: 0.6em;
  color: #f15a24;
  -webkit-transition: -webkit-transform 250ms ease;
  -moz-transition: -moz-transform 250ms ease;
  -o-transition: -o-transform 250ms ease;
  transition: transform 250ms ease;
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  -o-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg);
}
/* line 48, ../scss/_admin-sidebar.scss */
#adminmenu > li a.wp-menu-open .wp-menu-arrow {
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}
/* line 51, ../scss/_admin-sidebar.scss */
#adminmenu > li a .wp-menu-image {
  position: absolute;
  left: 5px;
}
/* line 56, ../scss/_admin-sidebar.scss */
#adminmenu > li a .wp-menu-name {
  padding-left: 30px;
}
/* line 61, ../scss/_admin-sidebar.scss */
#adminmenu > li a:hover {
  background-color: #e4e4e6;
}
/* line 65, ../scss/_admin-sidebar.scss */
#adminmenu > li a[class*="menu-top"] {
  display: block;
  height: 50px;
  padding: 0px 10px;
  line-height: 50px;
  border-top: 1px solid #b3b3b3;
}
/* line 71, ../scss/_admin-sidebar.scss */
#adminmenu > li a[class*="menu-top"].wp-has-submenu.wp-menu-open {
  border-bottom: 1px solid #b3b3b3;
}
/* line 74, ../scss/_admin-sidebar.scss */
#adminmenu > li a[class*="menu-top"] div {
  display: inline-block;
  line-height: 50px !important;
  float: left;
  *zoom: 1;
}
/* line 79, ../scss/_admin-sidebar.scss */
#adminmenu > li a[class*="menu-top"] div.wp-menu-image {
  font-size: 20px;
  padding-right: 10px;
}
/* line 87, ../scss/_admin-sidebar.scss */
#adminmenu > li .wp-submenu {
  overflow: hidden;
}
/* line 91, ../scss/_admin-sidebar.scss */
#adminmenu > li .wp-submenu li a {
  display: block;
  padding: 5px 0px 5px 30px;
  font-size: 0.9em;
}
/* line 97, ../scss/_admin-sidebar.scss */
#adminmenu > li .wp-submenu li.wp-submenu-head {
  display: none !important;
}
/* line 105, ../scss/_admin-sidebar.scss */
#adminmenu > li.wp-has-current-submenu .wp-submenu-head {
  display: block;
}
/* line 111, ../scss/_admin-sidebar.scss */
#adminmenu > li.wp-not-current-submenu .wp-submenu {
  display: none;
}
/* line 114, ../scss/_admin-sidebar.scss */
#adminmenu > li.wp-not-current-submenu .wp-menu-image {
  color: #999999;
}

/* line 172, ../scss/_admin-sidebar.scss */
#collapse-menu {
  display: none;
}

/* line 177, ../scss/_admin-sidebar.scss */
span[class*="-count"] {
  display: none;
}

/* line 182, ../scss/_admin-sidebar.scss */
#jsg-page-title {
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 186, ../scss/_admin-sidebar.scss */
#jsg-page-title h2 {
  position: relative;
  margin: 0;
  height: 90px;
  width: 260px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  line-height: 90px;
}
/* line 195, ../scss/_admin-sidebar.scss */
#jsg-page-title h2:after {
  content: " ";
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  right: -13px;
  top: 32px;
  border: 1px solid #b3b3b3;
  border-right: none;
  border-bottom: none;
  background-color: white;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*===================================================*
 * Admin Footer
 *===================================================*/
/* line 4, ../scss/_admin-footer.scss */
#wpfooter {
  position: absolute;
  bottom: 0px;
}

/* line 2, ../scss/_admin-screen-meta.scss */
[id*="screen-meta"] {
  display: none;
}
