@font-face {
	font-family: 'JSG-Admin';
	src:url('fonts/JSG-Admin.eot');
	src:url('fonts/JSG-Admin.eot?#iefix') format('embedded-opentype'),
		url('fonts/JSG-Admin.woff') format('woff'),
		url('fonts/JSG-Admin.ttf') format('truetype'),
		url('fonts/JSG-Admin.svg#JSG-Admin') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'JSG-Admin';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-alert, .icon-mail, .icon-player, .icon-logout, .icon-users, .icon-image, .icon-planet, .icon-rss, .icon-shop, .icon-calendar, .icon-graph, .icon-settings {
	font-family: 'JSG-Admin';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-alert:before {
	content: "\e000";
}
.icon-mail:before {
	content: "\e001";
}
.icon-player:before {
	content: "\e002";
}
.icon-logout:before {
	content: "\e003";
}
.icon-users:before {
	content: "\e004";
}
.icon-image:before {
	content: "\e005";
}
.icon-planet:before {
	content: "\e006";
}
.icon-rss:before {
	content: "\e007";
}
.icon-shop:before {
	content: "\e008";
}
.icon-calendar:before {
	content: "\e009";
}
.icon-graph:before {
	content: "\e00a";
}
.icon-settings:before {
	content: "\e00b";
}
